<div class="row">
  <div class="col-md-12 col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Path</th>
          <th scope="col">Access</th>
          <th scope="col">Permissions</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @folders.each_with_index do |folder, index|%>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= folder[:path] %></td>
            <td><%= folder[:access_line] %></td>
            <td><%= folder[:permissions] %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
